run = "npm run dev"
modules = ["nodejs-24"]

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Start application"

[[workflows.workflow]]
name = "Start application"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000
